
body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    font-weight: bold;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: left;
}

tbody td{
    
    padding: 10px 0;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}